DJANGO_SECRET_KEY=change-me-in-env
DJANGO_DEBUG=True
MYSQL_DATABASE=eodiganam
MYSQL_USER=eodiganam
MYSQL_PASSWORD=change-me-in-env
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
JWT_ACCESS_TOKEN_LIFETIME_MIN=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=14
EMAIL_VERIFICATION_CODE_LIFETIME_MIN=5
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
